<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
            http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<display-name>Bank Web Application</display-name>

	<servlet>
		<servlet-name>WelcomeServlet</servlet-name>
		<servlet-class>com.luxoft.cjp_krakow_2015.cjp.bankapp.servlets.WelcomeServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>WelcomeServlet</servlet-name>
		<url-pattern>/welcome</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>welcome</welcome-file>
	</welcome-file-list>
</web-app>